{% extends 'base.html' %}
{% load static %}

{% block title %}Novus Cleaning - Contact Us{% endblock %}
{% block meta_description %}This is the contact page for Novus Cleaning- Residential, Office, Deep, Commercial, Construction{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('static/website/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Blog <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-0 bread">Blog</h1>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">News &amp; Blog</span>
            <h2>Latest News</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-6 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('static/website/images/work-7.jpg');">
              </a>
              <div class="text mt-3 px-4">
              	<div class="posted mb-3 d-flex">
              		<div class="img author" style="background-image: url(static/website/images/06252022-n-logo-final.jpg);"></div>
              		<div class="desc pl-3">
              			<span>Posted by Novus Cleaning</span>
              			<span>June 25, 2022</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="#">Seven House Cleaning Tips From Professionals</a></h3>
                <p>Cleaning your house is a chore that takes a long time to do, so you call a cleaning professional to do the task for you and they zoom right through the task. Ever wonder how? Here are some great tips on how you can clean your house as fast as they do:</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('static/website/images/image_6.jpg');">
              </a>
              <div class="text mt-3 px-4">
              	<div class="posted mb-3 d-flex">
              		<div class="img author" style="background-image: url(static/website/images/06252022-n-logo-final.jpg);"></div>
              		<div class="desc pl-3">
              			<span>Posted by Novus Cleaning</span>
              			<span>June 25, 2022</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="#">Follow these 5 tips to help with your spring cleaning this year</a></h3>
                <p>Congratulations, you’ve made it. You’re out the other side of that weird, low period following all the excitement of Christmas. With the lighter mornings and evenings, there’s more of a spring in all our steps and a motivation to get organized and get our homes squeaky clean. It may seem like a daunting task cleaning from top to bottom, but it needn’t be.</p>
              </div>
            </div>
          </div>
		  <div class="col-md-6 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('static/website/images/05102022-novus-action-unlimited-ad.jpg');">
              </a>
              <div class="text mt-3 px-4">
              	<div class="posted mb-3 d-flex">
              		<div class="img author" style="background-image: url(static/website/images/06252022-n-logo-final.jpg);"></div>
              		<div class="desc pl-3">
              			<span>Posted by Novus Cleaning</span>
              			<span>May 10, 2020</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="#">Celebrate & leave the cleaning to us!</a></h3>
                <p>Novus cleaning specializes in pre and post party cleanup helping you during the busy party season.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}  