{% extends 'base.html' %}
{% load static %}

{% block meta_description %}This is the home page for Novus Cleaning- Residential, Office, Deep, Commercial, Construction{% endblock %}

{% block content %}
    <div class="hero-wrap js-fullheight" style="background-image: url('static/website/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
          	<h2 class="subheading">Clean and simple</h2>
          	<h1 class="mb-4">Residential, Office, Deep, Commercial and Construction Cleaning Services</h1>
            <p><a href="#" class="btn btn-primary mr-md-4 py-2 px-4">Learn more <span class="ion-ios-arrow-forward"></span></a></p>
          </div>
        </div>
      </div>
    </div>

	  <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-md-flex justify-content-center">
    			<div class="col-md-12">
	    			<div class="wrap-appointment bg-white d-md-flex pl-md-4 pb-5 pb-md-0">
	    				<form action="#" class="appointment w-100">
	    					<div class="row justify-content-center">
									<div class="col-12 col-md d-flex align-items-center pt-4 pt-md-0">
										<div class="form-group py-md-4 py-2 px-4 px-md-0">
											<label for="name">Name</label>
				              <input type="text" class="form-control" placeholder="Your Name">
				            </div>
									</div>
									<div class="col-12 col-md d-flex align-items-center">
										<div class="form-group py-md-4 py-2 px-4 px-md-0">
											<label for="name">Phone number</label>
				              <input type="text" class="form-control" placeholder="Phone number">
				            </div>
									</div>
									<div class="col-12 col-md d-flex align-items-center">
										<div class="form-group py-md-4 py-2 px-4 px-md-0">
											<label for="name">Select Services</label>
				    					<div class="form-field">
		          					<div class="select-wrap">
		                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
		                      <select name="" id="" class="form-control">
		                      	<option value="">Select Services</option>
		                        <option value="">Residential</option>
		                        <option value="">Office</option>
		                        <option value="">Commercial</option>
		                        <option value="">Construction</option>
		                      </select>
		                    </div>
				              </div>
				    				</div>
									</div>
									<div class="col-12 col-md d-flex align-items-center pb-4 pb-md-0">
										<div class="form-group py-md-4 py-2 px-4 px-md-0">
											<label for="name">Name</label>
				    					<div class="form-field">
		          					<div class="select-wrap">
		                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
		                      <select name="" id="" class="form-control">
		                      	<option value="">Select Cleaner</option>
		                        <option value="">Carlos Barbosa</option>
		                        <option value="">Mrs. Barbosa</option>
		                      </select>
		                    </div>
				              </div>
				    				</div>
									</div>
									<div class="col-12 col-md d-flex align-items-center align-items-stretch">
										<div class="form-group py-md-4 py-2 px-4 px-md-0 d-flex align-items-stretch bg-primary">
				              <input type="submit" value="Make an Appointment" class="btn btn-primary py-3 px-4">
				            </div>
									</div>
	    					</div>
		          </form>
		    		</div>
		    	</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-6 d-flex">
    				<div class="img d-flex align-items-center justify-content-center py-5 py-md-0" style="background-image:url(static/website/images/about.jpg);">
    					<div class="time-open-wrap">
    						<div class="desc p-4">
		    					<h2>Openings:</h2>
			              <div class="opening-hours">
			              	<p class="pl-3">
			              		<span><strong>Monday – Friday:</strong> 8am to 5pm</span>
			              		<span><strong>Saturday :</strong> 9am to 4pm</span>
			              	</p>
			              </div>
		    				</div>
								<div class="desc p-4 bg-secondary">
									<h3 class="heading">For Emergency Cases</h3>
									<span class="phone">774.287.3516</span>
								</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 pl-md-5 pt-md-5">
    				<div class="row justify-content-start py-5">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<span class="subheading">Welcome to Novus Cleaning</span>
		            <h2 class="mb-4">Unbelievable clean...again and again</h2>
		            <p>Life is busy at home and at work.  Have more time for you and your family by leaving the cleaning to us.  Our years of experience and many happy customers make this an easy choice.</p>
		          </div>
		        </div>
						<div class="row ftco-counter py-5" id="section-counter">
		          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="15">0</strong>
		              </div>
		              <div class="text">
		              	<span>Years of <br>Experience</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="142">0</strong>
		              </div>
		              <div class="text">
		              	<span>Happy <br>Customers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="72">0</strong>
		              </div>
		              <div class="text">
		              	<span>Buildings <br>Cleaned</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Services</span>
            <h2>How We Work</h2>
          </div>
        </div>
    		<div class="row">
          <div class="col-md-6 col-lg-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-kitchen"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Residential Cleaning</h3>
                <p>Quick, efficient and thorough.  Let us make your home shine brighter than it ever has before.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-workplace"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Office Cleaning</h3>
                <p>Top to bottom, we do it all.  Giving you and your employees a sparkling workplace that everyone looks forward to coming to.</p>
              </div>
            </div> 
          </div>
          <div class="col-md-6 col-lg-4 services ftco-animate">
          	<div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-cleaning"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Deep Cleaning</h3>
                <p>Get to the bottom of it all.  We will scrub and sweat until everything looks like new!</p>   
              </div>
            </div> 
          </div>
          <div class="col-md-6 col-lg-4 services ftco-animate">
          	<div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-tap"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Commercial Cleaning</h3>
                <p>Leave it to us.  We do it all with our own supplies so you won't have to.</p>                
              </div>
            </div>
          </div>
		  <div class="col-md-6 col-lg-4 services ftco-animate">
			<div class="d-block d-flex">
			<div class="icon d-flex justify-content-center align-items-center">
				  <span class="flaticon-rug"></span>
			</div>
			<div class="media-body pl-3">
			  <h3 class="heading">Construction Cleaning</h3>
			  <p>Focus on your strengths and we'll focus on ours by finishing your professional jobs with a professional clean.</p>                
			</div>
		  </div>
		</div>
        </div>
    	</div>
    </section>
    <section class="ftco-section ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-3 pr-md-4 pb-lg-0 pb-4">
						<div class="heading-section ftco-animate text-center text-lg-left">
	          	<span class="subheading">Team &amp; Staff</span>
	            <h2>Our Team</h2>
	            <p>Professional in all regards and ready to tackle your toughest jobs!</p>
	          </div>
					</div>
					<div class="col-md-4 col-lg-3 ftco-animate d-flex">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/website/images/06252022-n-logo-final.jpg);"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Carlos Barbosa</h3>
								<span class="position mb-2">Cleaning Professional</span>
								<div class="faded">
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-lg-3 ftco-animate d-flex">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/website/images/06252022-n-logo-final.jpg);"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Jeane Barbosa</h3>
								<span class="position mb-2">Cleaning Professional</span>
								<div class="faded">
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
<!-- commented out Testimonies section
    <section class="ftco-section testimony-section ftco-bg-dark">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
          	<span class="subheading">Testimonies</span>
            <h2>Happy Customers</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap py-4">
                	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-right"></span></div>
                  <div class="text">
                  	<div class="d-flex align-items-center mb-4">
                    	<div class="user-img" style="background-image: url(static/website/person_1.jpg)"></div>
                    	<div class="pl-3">
		                    <p class="name">Roger Scott</p>
		                    <span class="position">Marketing Manager</span>
		                  </div>
	                  </div>
                    <p class="mb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-right"></span></div>
                  <div class="text">
                  	<div class="d-flex align-items-center mb-4">
                    	<div class="user-img" style="background-image: url(static/website/person_2.jpg)"></div>
                    	<div class="pl-3">
		                    <p class="name">Roger Scott</p>
		                    <span class="position">Marketing Manager</span>
		                  </div>
	                  </div>
                    <p class="mb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	-->
		<section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">News &amp; Blog</span>
            <h2>Latest News</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-6 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('static/website/images/work-7.jpg');">
              </a>
              <div class="text mt-3 px-4">
              	<div class="posted mb-3 d-flex">
              		<div class="img author" style="background-image: url(static/website/images/06252022-n-logo-final.jpg);"></div>
              		<div class="desc pl-3">
              			<span>Posted by Novus Cleaning</span>
              			<span>June 25, 2022</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="#">Seven House Cleaning Tips From Professionals</a></h3>
                <p>Cleaning your house is a chore that takes a long time to do, so you call a cleaning professional to do the task for you and they zoom right through the task. Ever wonder how? Here are some great tips on how you can clean your house as fast as they do:</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('static/website/images/image_6.jpg');">
              </a>
              <div class="text mt-3 px-4">
              	<div class="posted mb-3 d-flex">
              		<div class="img author" style="background-image: url(static/website/images/06252022-n-logo-final.jpg);"></div>
              		<div class="desc pl-3">
              			<span>Posted by Novus Cleaning</span>
              			<span>June 25, 2022</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="#">Follow these 5 tips to help with your spring cleaning this year</a></h3>
                <p>Congratulations, you’ve made it. You’re out the other side of that weird, low period following all the excitement of Christmas. With the lighter mornings and evenings, there’s more of a spring in all our steps and a motivation to get organized and get our homes squeaky clean. It may seem like a daunting task cleaning from top to bottom, but it needn’t be.</p>
              </div>
            </div>
          </div>
		  <div class="col-md-6 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('static/website/images/05102022-novus-action-unlimited-ad.jpg');">
              </a>
              <div class="text mt-3 px-4">
              	<div class="posted mb-3 d-flex">
              		<div class="img author" style="background-image: url(static/website/images/06252022-n-logo-final.jpg);"></div>
              		<div class="desc pl-3">
              			<span>Posted by Novus Cleaning</span>
              			<span>May 10, 2020</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="#">Celebrate & leave the cleaning to us!</a></h3>
                <p>Novus cleaning specializes in pre and post party cleanup helping you during the busy party season.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading mb-3">Pricing &amp; Plans</span>
            <h2>Choose Your Perfect Plan</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-6 col-lg-6 ftco-animate">
	          <div class="block-7">
	            <div class="text-center">
	            	<div class="icon d-flex align-items-center justify-content-center"><span class="fa flaticon-sprayer"></span></div>
	            	<h4 class="heading-2">Residential</h4>
		            <span class="price"><sup>$</sup> <span class="number">49/hr</span></span>
		            
		            <ul class="pricing-text mb-5">
		              <li><span class="fa fa-check mr-2"></span>Dusting</li>
		              <li><span class="fa fa-check mr-2"></span>Vacuuming</li>
					  <li><span class="fa fa-check mr-2"></span>Flooring</li>
		              <li><span class="fa fa-check mr-2"></span>Bathrooms</li>
		              <li><span class="fa fa-check mr-2"></span>Mirrors</li>
		            </ul>

		            <a href="#" class="btn btn-primary px-4 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-6 ftco-animate">
	          <div class="block-7 active">
	            <div class="text-center">
	            <div class="icon d-flex align-items-center justify-content-center"><span class="fa flaticon-vacuum-cleaner"></span></div>
            	<h4 class="heading-2">Office</h4>
	            <span class="price"><sup>$</sup> <span class="number">49/hr</span></span>
	            
	            <ul class="pricing-text mb-5">
					<li><span class="fa fa-check mr-2"></span>Dusting</li>
					<li><span class="fa fa-check mr-2"></span>Carpets</li>
					<li><span class="fa fa-check mr-2"></span>Flooring</li>
					<li><span class="fa fa-check mr-2"></span>Bathrooms</li>
					<li><span class="fa fa-check mr-2"></span>Windows</li>
		            </ul>

	            <a href="#" class="btn btn-primary px-4 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	      </div>
    	</div>
    </section>
	{% endblock %}