{% extends 'base.html' %}
{% load static %}

{% block title %}Novus Cleaning - Services{% endblock %}
{% block meta_description %}This is the services page for Novus Cleaning- Residential, Office, Deep, Commercial, Construction{% endblock %}

{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('static/website/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Services <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-0 bread">Services</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Services</span>
            <h2>How We Work</h2>
          </div>
        </div>
    		<div class="row">
          <div class="col-md-6 col-lg-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-kitchen"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Residential Cleaning</h3>
                <p>Quick, efficient and thorough.  Let us make your home shine brighter than it ever has before.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-workplace"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Office Cleaning</h3>
                <p>Top to bottom, we do it all.  Giving you and your employees a sparkling workplace that everyone looks forward to coming to.</p>
              </div>
            </div> 
          </div>
          <div class="col-md-6 col-lg-4 services ftco-animate">
          	<div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-cleaning"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Deep Cleaning</h3>
                <p>Get to the bottom of it all.  We will scrub and sweat until everything looks like new!</p>   
              </div>
            </div> 
          </div>
          <div class="col-md-6 col-lg-4 services ftco-animate">
          	<div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-tap"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Commercial Cleaning</h3>
                <p>Leave it to us.  We do it all with our own supplies so you won't have to.</p>                
              </div>
            </div>
          </div>
		  <div class="col-md-6 col-lg-4 services ftco-animate">
			<div class="d-block d-flex">
			<div class="icon d-flex justify-content-center align-items-center">
				  <span class="flaticon-rug"></span>
			</div>
			<div class="media-body pl-3">
			  <h3 class="heading">Construction Cleaning</h3>
			  <p>Focus on your strengths and we'll focus on ours by finishing your professional jobs with a professional clean.</p>                
			</div>
		  </div>
		</div>
        </div>
    	</div>
    </section>

    <!--commented out Video section
    <section class="ftco-section ftco-intro" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-8 text-center">
    				<h2>Together we will explore new things</h2>
    				<a href="" class="icon-video d-flex align-items-center justify-content-center"><span class="fa fa-play"></span></a>
    			</div>
    		</div>
    	</div>
    </section>
    -->

    <!--commented out Pricing section
    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading mb-3">Pricing &amp; Plans</span>
            <h2>Choose Your Perfect Plan</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-6 col-lg-6 ftco-animate">
	          <div class="block-7">
	            <div class="text-center">
	            	<div class="icon d-flex align-items-center justify-content-center"><span class="fa flaticon-sprayer"></span></div>
	            	<h4 class="heading-2">Residential</h4>
		            <span class="price"><sup>$</sup> <span class="number">49/hr</span></span>
		            
		            <ul class="pricing-text mb-5">
		              <li><span class="fa fa-check mr-2"></span>Dusting</li>
		              <li><span class="fa fa-check mr-2"></span>Vacuuming</li>
					  <li><span class="fa fa-check mr-2"></span>Flooring</li>
		              <li><span class="fa fa-check mr-2"></span>Bathrooms</li>
		              <li><span class="fa fa-check mr-2"></span>Mirrors</li>
		            </ul>

		            <a href="#" class="btn btn-primary px-4 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-6 ftco-animate">
	          <div class="block-7 active">
	            <div class="text-center">
	            <div class="icon d-flex align-items-center justify-content-center"><span class="fa flaticon-vacuum-cleaner"></span></div>
            	<h4 class="heading-2">Office</h4>
	            <span class="price"><sup>$</sup> <span class="number">49/hr</span></span>
	            
	            <ul class="pricing-text mb-5">
					<li><span class="fa fa-check mr-2"></span>Dusting</li>
					<li><span class="fa fa-check mr-2"></span>Carpets</li>
					<li><span class="fa fa-check mr-2"></span>Flooring</li>
					<li><span class="fa fa-check mr-2"></span>Bathrooms</li>
					<li><span class="fa fa-check mr-2"></span>Windows</li>
		            </ul>

	            <a href="#" class="btn btn-primary px-4 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	      </div>
    	</div>
    </section>
    -->
    {% endblock %}  